<h3 class="sub-title">Curtiu?</h3>
<p class="center">entre em contato comigo</p>
<form action="envia.php" method="post" name="form" class="contato">
  <fieldset class="grid-7">
    <label for="nome">Nome</label>
    <input id="nome" name="nomeremetente" type="text" required>
    <label for="email">E-mail</label>
    <input id="email" name="emailremetente" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    <label for="fone">Telefone</label>
    <input id="fone" name="telefone" type="tel" maxlength="15" placeholder="(xx)00000-0000" required>
  </fieldset>
  <fieldset class="form-message grid-7">
    <label for="mensagem">Menssagem</label>
    <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
    <button type="submit" class="btn btn-submit" value="Enviar">Enviar</button>
  </fieldset>
</form>
